.container {
  display: grid;
  grid-template-areas: 
    "brand menu"
    "content content"
}

header {
  grid-area: brand;
}

nav {
  grid-area: menu;
}

nav ul {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 50px);
  justify-content: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

main {
  grid-area: content;
  justify-content: center;
}

